@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('src/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
 
@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('src/fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('src/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Text Wide Cyr';
    src: url('src/fonts/DrukTextWideCyr-Super.woff2') format('woff2'),
        url('src/fonts/DrukTextWideCyr-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carolina';
    src: url('src/fonts/Carolina.woff2') format('woff2'),
        url('src/fonts/Carolina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-Italic.woff2') format('woff2'),
        url('src/fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('src/fonts/RoadRadio.woff2') format('woff2'),
        url('src/fonts/RoadRadio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('src/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('src/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('src/fonts/RFDewiExtended-Black.woff2') format('woff2'),
        url('src/fonts/RFDewiExtended-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('src/fonts/RoadRadio-Black.woff2') format('woff2'),
        url('src/fonts/RoadRadio-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

